:root{
    --primary-text-color:#434455;
    --title-text-color:#2E2F42;
    --accent-color:#4D5AE5;
    --primary-bg-color:#FFFFFF;
}
body{
    background-color:var(--primary-bg-color);
    font-family:'Raleway', Roboto, sans-serif;
}  
.list{
    list-style: none;
    text-decoration: none;
}   
.logo{
    color:var(--title-text-color);
    font-family:'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    text-decoration: none;
} 
.span-logo{
color:var(--accent-color);
}     
.site-nav.list{
    color: #2E2F42;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
}
.site-nav.list.current{
    color:var(--accent-color);
}
.site-nav.list:hover,
.site-nav.list:focus{
    color:var(--accent-color);
}
.contackts{
    font-size: 16px;
    text-decoration: none;
}
.main{
    background-color: #2E2F42;
}
.main-text{
    color:#FFFFFF;
    font-weight: 600;
    font-size: 56px;
    line-height: 1.1;
    }
.main-button{
    background-color:var(--accent-color);
    color:var(--primary-bg-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
}
.section{
    background-color:var(--primary-bg-color);
}
.section-title{ 
    color: #2E2F42;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}
.section-text{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
}
h2{
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
}
 .list-products{
    color: #2E2F42;
 }   
.list-team{
    background-color:#F4F4FD;
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.1;
}
.list-text{
    color:#E7E9FC;
    font-size: 16px;
    line-height: 1.5;
}
.footer{
    background-color: #2E2F42;
    color: #E7E9FC;
}
.logo-footer {
    color:var(--white);
    font-family:'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    text-decoration: none;
}
.footer-text{
    font-size: 16px;
    line-height: 1.5;
}
  .main-button{
    background-color:#4D5AE5;
    color: #FFFFFF;
  }
  .button{
    background-color: #F4F4FD;
    color: #4D5AE5;
    font-family: inherit;
  }
  
